.links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navlink {
  display: block;
  border: none;
  background-color: transparent;
  padding: 20px 0;
  text-decoration: none;
  color: #8585ad;
  cursor: pointer;
  transition: 0.3s;
}

.navlink:hover {
  color: #fff;
}

.selected {
  color: #fff;
  pointer-events: none;
}
