.content {
  max-height: calc(100vh - 228px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-button {
  display: none;
}

.content::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.content::-webkit-scrollbar-track {
  background: #2f2f37;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
