.modal {
  width: 720px;
  max-width: 80vw;
  background-color: #1C1C21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 16px;
}

.modal__close-btn {
  flex: 0 0 24px;
  background-color: transparent;
  border: none;
  height: 24px;
  width: 24px;
  margin: 0 0 0 auto;
  padding: 3px;
  cursor: pointer;
  box-sizing: content-box;
}
